@use "variables" as *;

body {
    font-size: 1.8rem;
    font-family: $font-primary;
    font-weight: $weight-regular;
}

.header {
    &__nav {
        font-size: 1.5rem;
        color: $dark-gray;
    }

    &__item {
        text-transform: uppercase;
        letter-spacing: 1px;

        :hover {
            color: $accent-orange;
        }
    }

    &__button--login {
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.hero {
    &__title {
        color: $neutral-dark-blue;
        font-size: 3.5rem;
    }

    &__description {
        color: $neutral-gray;
        font-size: 1.5rem;
    }

    &__button {
        font-size: 1.5rem;
    }
}

.features {
    &__title {
        font-size: 2.5rem;
        color: $neutral-dark-blue;
    }

    &__description {
        color: $neutral-gray;
        font-size: 1.5rem;
    }

    &__tab-list {
        button {
            font-size: 1.5rem;

            &:hover {
                color: $accent-orange;
            }
        }
    }

    &__tab-description {
        color: $neutral-gray;
        font-size: 1.5rem;
    }

    &__more-info {
        font-size: 1.5rem;
    }

    &__tab-heading {
        font-size: 2.5rem;
        color: $neutral-dark-blue;
    }
}

.downloads {
    &__title {
        font-size: 2.5rem;
        color: $neutral-dark-blue;
    }

    &__description {
        color: $neutral-gray;
        font-size: 1.5rem;
    }

    &__install-button {
        font-size: 1.5rem;
    }

    &__browser-version {
        color: $neutral-gray;
        font-size: 1.2rem;
    }

    &__browser-name {
        font-size: 1.7rem;
        color: $neutral-dark-blue;
    }
}

.faq {
    padding: 6rem 0;

    &__title {
        font-size: 2.5rem;
        color: $neutral-dark-blue;
    }

    &__description {
        color: $neutral-gray;
        font-size: 1.5rem;
    }

    &__answer {
        font-size: 1.5rem;
    }

}