// Typography
$font-primary: 'Rubik', sans-serif;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

// Colors - Primary
$primary-blue: hsl(231, 69%, 60%);
$primary-red: hsl(0, 94%, 66%);

// Colors - Neutral
$neutral-gray: hsl(229, 8%, 60%);
$dark-gray: hsl(240, 7%, 25%);
$light-gray: #e3e3e3;
$neutral-dark-blue: hsl(229, 31%, 21%);

// Colors - Accent
$accent-orange: hsl(358, 72%, 62%, 1)